body{
    background: url(https://wallpapercave.com/wp/wp4848510.jpg);
}

.container-box {
    background: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 50px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
}

button {
    width: 100%;
    background: rgb(255, 0, 0);
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.log a {
    text-decoration: none;
    color: rgb(0, 21, 114);
}